body {
    background-color: lightgray;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}

.calendar-left {
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    color: white;
}

.calendar-base {
    height: 500px;
    background-color: white;
    color: black;
}

.calendar-right {
    height: 500px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: black;
}

.year {
    color: #E8E8E8;
    font-weight: bold;
    font-size: 30px;
}

.months {
    color: #27AE60;
    font-size: 30px;
    border-bottom: 2px #E8E8E8 solid;
}

.days {
    color: #AAAAAA;
    font-size: 18px;
    word-spacing: 35px;
    font-weight: 600;
}

.grey {
    color: #AAAAB1;
}

.calendar-base table {
    height: 350px;
}

.calendar-base table tr td a {
    color: black;
    padding: 10px;
    border-radius: 50px;
}

.calendar-base table tr td a:hover {
    text-decoration: none;
    background-color: #2ECC71;
    color: white;
}

.calendar-base table tr td a:focus {
    background-color: #2ECC71;
    color: white;
}

.calendar-right table {
    width: 400px;
    height: 350px;
}

.num-date {
    font-size: 50px;
    font-weight: 700;
}

.day {
    font-size: 15px;
}

.fix-height-tr {
    height: 0.1em !important;
}